
@font-face {
    font-family:iranyekanwebmedium ;
    src: url(../../font/iranyekanwebmedium.woff);
}

@font-face {
    font-family: YekanBakhHeavy;
    src: url(../../font/YekanBakhHeavy.woff);
}

@font-face {
    font-family: iranyekanwebregular;
    src: url(../../font/iranyekanwebregular.woff);
}
