@import "./font.scss";

$color1: #ece8e9;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .09s;
}

body {
    font-family: YekanBakhHeavy;
    // font-family: iranyekanwebregular;
    position: relative;

}

// -------------------TOP-Header-------------
.top-header {
    width: 100vw;
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 1rem;
    background: linear-gradient(-45deg, #a5247a, #ec008c, #a5247a);

    div:first-child {
        a {
            text-decoration: none;
            color: #fff;
            padding: .2rem .3rem .2rem .3rem;
            cursor: pointer;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            display: inline-block;
            font-size: .76rem;
        }

        a:first-child {
            color: #444;
            background-color: $color1 ;
        }
    }

    div:last-child {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        margin: auto 0;

        svg {
            width: 2.2rem;
            color: #fff;
            padding-left: .5rem;
            cursor: pointer;
        }

        a {
            text-decoration: none;
            padding-right: 0.5rem;
            color: #fff;
            font-size: 1rem;
            border-right: 1px solid rgb(216, 192, 221);
        }
    }

}

// -----------------------HEADER----------------
header {
    width: 100vw;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color1;
    padding: 1rem;
    position: sticky;
    top: 0;
// --------------------Hamburger-Menu-----------
    #hamburger-menu {
        width: 2.2rem;
        color: #a5247a;
        display: block;
        cursor: pointer;
        &:hover {
            filter: drop-shadow(2px 2px 2px #a5247a);
            width: 2.3rem;
            transition: all .3s;
        }
}

    img {
        display: block;
        width: 4rem;
        cursor: pointer;
    }
}

// ---------------------NAV---------------
nav {
    display: flex;
    justify-content: center;
    position: relative;

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        display: none;


        li {
            margin-right: .9rem;
        }

        a {
            text-decoration: none;
            color: #555;
            font-size: 1.2rem;
            display: block;

            &:hover {
                color: #a5247a;
                transition: all .3s;
            }
        }
    }
}

#trabord {
    display: block;
    padding: .5rem .4rem;
    background-color: rgb(198, 235, 130);
    text-decoration: none;
    color: #555;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    display: none;

    &:hover {
        background-color: rgb(206, 243, 137);
        color: #ec008c;
        transition: all .3s;
    }
}
// -----Absolute-Nav-----
.absolute-nav {
    position: absolute;
    top: 3.3rem;
    left: 0;
    right: 0;
    width: 90vw;
    background-color: #f6f6f6;
    // display: flex;
    justify-content: flex-start;
    font-size: .9rem;
    color: #555;
    padding: .9rem;
    // display: none;
    transform: translateY(-100%);
    opacity: 0;
    z-index: -1;

    li {
        margin-right: 2.5rem;
        cursor: pointer;

        &:hover {
            color: #a5247a;
            transition: all .3s;
        }
    }
}
.absolute-nav-show {
    animation: Show-nav .7s forwards;
    @keyframes Show-nav {
        0% {
            opacity: 0;
        //    transform: translateY(-100%);
}
        100% {
            opacity: 1;
            transform: translateY(0);
}
    }
}
// .absolute-nav-unshow {
//     animation: UnShow-nav 1s forwards;
//     @keyframes UnShow-nav {
//         0% {
//             opacity: 1;
//         }
//         100% {
//             opacity: 0;
//         }
//     }
// }
// --------------------Hamburger-List------------
.hamburger-list {
    width: 50vw;
    height: 100vh;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    transform: translateX(100%);
    filter: brightness(100%);
    img {
        cursor: pointer;
        width: 6.2rem;
    }
    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        width: 100%;
        border-top: 1px solid rgb(173, 173, 173);
   
    }
    li {
        margin-top: .6rem;
        border-bottom: 1px solid rgb(231, 231, 231);
        font-size: .8rem;
        color: #555;
        display: flex;
        justify-content: space-between;
        svg {
            width: 1rem;
        }
       
        &:hover {
            color: #a5247a;
            cursor: pointer;
            transition: all .3s;
        }
    }
    a {
        @extend#trabord;
        display: block;
        margin: 1rem auto;
        // width: 80%;
        text-align: center;
        padding: .4rem 4rem;
        font-size: .8rem;
    }

    .absolute-rightel {
        background-color: #f7f4f4;
        display: none;

        li {
            border-bottom: 1px solid rgb(216, 213, 213);
            font-size: .77rem;
        }
    }
    
    .off-on-absolute-rightel {
        display: flex;
    }

}
#hamburger-menu {
    z-index: 101;
    // transform: translateX(-600%);
}

#hamburger-show {
    animation: Show .5s forwards;
    @keyframes Show {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(0);
        }
    }
}
#hamburger-unshow {
    animation: Show2 .5s forwards ;
    @keyframes Show2 {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(100%);
        }
    }    
}
.cros-show {
    animation: Show3 .6s forwards;
    @keyframes Show3 {
        0% {
            transform: translateX(0);
            color: #a5247a;
        }
        100% {
            transform: translateX(-50vw);
            color: #555;
        }
    }
}
.cros-ushow {
    animation: Show4 .6s forwards;
    @keyframes Show4 {
        0% {
            transform: translateX(-50vw);
            color: #555;
        }
        100% {
            transform: translateX(0);
            color: #a5247a;
        }
    }
}
// --------------Use-dark-----------
.use-dark {
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(6, 0, 7, 0.555);
    // z-index: 1000;
    display: none;
}

// -------------------------RESPONSIVE-------------------------
// ------------------------min-width:768px-------------------
@media (min-width: 768px) {

    //---------top-header--------
    .top-header {
        height: 3rem;

        div:first-child {
            a {
                font-size: .9rem;
            }

        }

        div:last-child {
            a {
                font-size: 1rem;
            }
        }
    }

    // -------------header-------------
    header {
        flex-direction: row-reverse;
        height: 4rem;

        div:first-child {

            #hamburger-menu {
                display: none;
            }
        }

        #trabord {
            display: block;
        }
    }

    // ------------nav-----------
    nav {
        img {
            width: 5rem;
        }

        ul {
            display: flex;

            a {
                font-size: .9rem;
            }
        }
    }
}

// -------------------------RESPONSIVE-------------------------
// ------------------------min-width:968px-------------------
@media (min-width:968px) {
    // -------top-header-------
    .top-header {
        justify-content: space-around;
    }
    // --------header----
    #trabord {
        margin-left: 9rem;
    }
    // --------nav-------
        nav {
            img {
                width: 5rem;
                margin-left: 6rem;
            }

            a {
                font-size: .93rem;
            }
        }
}