@import "./font.scss";

$color1: #ece8e9;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .09s;
}

body {
    font-family: YekanBakhHeavy;
    // font-family: iranyekanwebregular;
    position: relative;

}

// -------------------TOP-Header-------------
.top-header {
    width: 100vw;
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 1rem;
    background: linear-gradient(-45deg, #a5247a, #ec008c, #a5247a);

    div:first-child {
        a {
            text-decoration: none;
            color: #fff;
            padding: .2rem .3rem .2rem .3rem;
            cursor: pointer;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            display: inline-block;
            font-size: .76rem;
        }

        a:first-child {
            color: #444;
            background-color: $color1 ;
        }
    }

    div:last-child {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        margin: auto 0;

        svg {
            width: 2.2rem;
            color: #fff;
            padding-left: .5rem;
            cursor: pointer;
        }

        a {
            text-decoration: none;
            padding-right: 0.5rem;
            color: #fff;
            font-size: 1rem;
            border-right: 1px solid rgb(216, 192, 221);
        }
    }

}

// -----------------------HEADER----------------
header {
    width: 100vw;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color1;
    padding: 1rem;
    // position: sticky;
    top: 0;

    // --------------------Hamburger-Menu-----------
    #hamburger-menu {
        width: 2.2rem;
        color: #a5247a;
        display: block;
        cursor: pointer;

        &:hover {
            filter: drop-shadow(2px 2px 2px #a5247a);
            width: 2.3rem;
            transition: all .3s;
        }
    }

    img {
        display: block;
        width: 4rem;
        cursor: pointer;
    }
}

// ---------------------NAV---------------
nav {
    display: flex;
    justify-content: center;
    position: relative;

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        display: none;


        li {
            margin-right: .6rem;
        }

        a {
            text-decoration: none;
            color: #555;
            font-size: 1.2rem;
            display: block;

            &:hover {
                color: #a5247a;
                transition: all .3s;
            }
        }
    }
}

#trabord {
    display: block;
    padding: .5rem .4rem;
    background-color: rgb(198, 235, 130);
    text-decoration: none;
    color: #555;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    display: none;

    &:hover {
        background-color: rgb(206, 243, 137);
        color: #ec008c;
        transition: all .3s;
    }
}

// -----Absolute-Nav-----
.absolute-nav {
    position: absolute;
    top: 3.3rem;
    left: 0;
    right: 0;
    width: 90vw;
    background-color: #f6f6f6;
    // display: flex;
    justify-content: flex-start;
    font-size: .9rem;
    color: #555;
    padding: .9rem;
    // transform: translateY(-100%);
    display: none;
    opacity: 0;

    li {
        list-style-type: none;
        margin-right: 2.5rem;
        cursor: pointer;

        &:hover {
            color: #a5247a;
            transition: all .3s;
        }
    }
}

@keyframes Show-nav {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes UnShow-nav {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

// --------------------Hamburger-List------------
.hamburger-list {
    width: 50vw;
    height: 100vh;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    transform: translateX(100%);
    // filter: brightness(100%);
    z-index: 1000;

    img {
        cursor: pointer;
        width: 6.2rem;
    }

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        width: 100%;
        border-top: 1px solid rgb(173, 173, 173);

    }

    li {
        margin-top: .6rem;
        border-bottom: 1px solid rgb(231, 231, 231);
        font-size: .8rem;
        color: #555;
        display: flex;
        justify-content: space-between;

        svg {
            width: 1rem;
        }

        &:hover {
            color: #a5247a;
            cursor: pointer;
            transition: all .3s;
        }
    }

    a {
        @extend#trabord;
        display: block;
        margin: 1rem auto;
        // width: 80%;
        text-align: center;
        padding: .4rem 4rem;
        font-size: .8rem;
    }

    .absolute-rightel {
        background-color: #f7f4f4;
        display: none;

        li {
            border-bottom: 1px solid rgb(216, 213, 213);
            font-size: .77rem;
        }
    }

    .off-on-absolute-rightel {
        display: flex;
    }

}

#hamburger-menu {
    z-index: 101;
    // transform: translateX(-600%);
}

#hamburger-show {
    animation: Show .5s forwards;

    @keyframes Show {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(0);
        }
    }
}

#hamburger-unshow {
    animation: Show2 .5s forwards;

    @keyframes Show2 {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(100%);
        }
    }
}

.cros-show {
    animation: Show3 .6s forwards;
    position: relative;
    z-index: 1000;

    @keyframes Show3 {
        0% {
            transform: translateX(0);
            color: #a5247a;
        }

        100% {
            transform: translateX(-50vw);
            color: #fff;
            filter: drop-shadow(2px 2px 3px #555);
            width: 3rem;

        }
    }
}

.cros-ushow {
    animation: Show4 .6s forwards;

    @keyframes Show4 {
        0% {
            transform: translateX(-50vw);
            color: #fff;
        }

        100% {
            transform: translateX(0);
            color: #a5247a;
        }
    }
}

// --------------Use-dark-----------
.use-dark {
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(6, 0, 7, 0.397);
    display: none;
    z-index: 100;
}

// ---------------------Main---------------
// --------------slider-main--------
main {
    width: 100vw;
    height: auto;
}

.main-slider {
    position: relative;
    width: 100%;
    padding: 3rem 0;
    box-shadow: 0px -2px 3px #ece8e9 inset;

    .swiperOne {
        height: 100%;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// --------------main-slider-second---------
.main-slider-second {
    width: 100%;
    height: 25vh;
    padding: 4rem 0;
    box-shadow: 0px 4px 3px #ece8e9;

    .swiperTwo mySwiperTwo {
        background-color: #a5247a;
    }

    .swiper-wrapper {}

    .slider-second {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        cursor: pointer;
        &:hover {
            a {
                color:rgb(145, 12, 138) ;
            }
            svg {
                color:rgb(148, 13, 141) ;
            }
        }
        svg {
            width: 4rem;
            color: #ec008c;
        }

        a {
            text-decoration: none;
            color: #ec008c;
            font-size: .8rem;
        }
    }
}
// -----------main-slider-second-query--------
.main-slider-second-query {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
    box-shadow: 0px 2px 3px #ece8e9 ;
    display: none;
    
    ul {
        list-style-type: none;
        display: flex;
    }
    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 4rem;
        // width: 8rem;
        cursor: pointer;
        &:hover {
            a {
                color:rgb(145, 12, 138) ;
            }
            svg {
                color:rgb(148, 13, 141) ;
            }
        }
    }
    a {
        text-decoration: none;
        color: #ec008c;
        font-size: .9rem;
      
    }
    svg {
        width: 4rem;
        color: #ec008c;
      
    }
}

// -------------------------RESPONSIVE-------------------------
// ------------------------min-width:768px-------------------
@media (min-width: 768px) {

    //---------top-header--------
    .top-header {
        height: 3rem;

        div:first-child {
            a {
                font-size: .9rem;
            }

        }

        div:last-child {
            a {
                font-size: 1rem;
            }
        }
    }

    // -------------header-------------
    header {
        flex-direction: row-reverse;
        height: 4rem;
        position: sticky;
        z-index: 1000;

        div:first-child {

            #hamburger-menu {
                display: none;
            }
        }

        #trabord {
            display: block;
        }
    }

    // ------------nav-----------
    nav {
        img {
            width: 5rem;
        }

        ul {
            display: flex;

            a {
                font-size: .9rem;
            }
        }
    }

    // ------------main-slider-------
    .main-slider {
        padding: 2rem 0;
        height: 60vh;
    }
}

// -----------main-slider-second---------
.main-slider-second {
    height: 20vh;
    padding: 2rem 0;
}

// -------------------------RESPONSIVE-------------------------
// ------------------------min-width:968px-------------------
@media (min-width:968px) {

    // -------top-header-------
    .top-header {
        justify-content: space-around;
    }

    // --------header----
    #trabord {
        margin-left: 7rem;
    }

    // --------nav-------
    nav {
        img {
            width: 5rem;
            margin-left: 6rem;
        }

        ul {

            li {
                margin-right: .8rem;
            }
        }

        a {
            font-size: .93rem;
        }

    }

    // ------------main-slider-------
    main {
        .main-slider {
            padding: 0 0;
        }
    }
    // --------main-slider-second------
    .main-slider-second {
        display: none;
    }
// -----------.main-slider-second-query-----
    .main-slider-second-query {
        display: flex;
    }
}