@font-face {
  font-family: iranyekanwebmedium;
  src: url(../../font/iranyekanwebmedium.woff);
}
@font-face {
  font-family: YekanBakhHeavy;
  src: url(../../font/YekanBakhHeavy.woff);
}
@font-face {
  font-family: iranyekanwebregular;
  src: url(../../font/iranyekanwebregular.woff);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.09s;
}

body {
  font-family: YekanBakhHeavy;
  position: relative;
}

.top-header {
  width: 100vw;
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 1rem;
  background: linear-gradient(-45deg, #a5247a, #ec008c, #a5247a);
}
.top-header div:first-child a {
  text-decoration: none;
  color: #fff;
  padding: 0.2rem 0.3rem 0.2rem 0.3rem;
  cursor: pointer;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: inline-block;
  font-size: 0.76rem;
}
.top-header div:first-child a:first-child {
  color: #444;
  background-color: #ece8e9;
}
.top-header div:last-child {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: auto 0;
}
.top-header div:last-child svg {
  width: 2.2rem;
  color: #fff;
  padding-left: 0.5rem;
  cursor: pointer;
}
.top-header div:last-child a {
  text-decoration: none;
  padding-right: 0.5rem;
  color: #fff;
  font-size: 1rem;
  border-right: 1px solid rgb(216, 192, 221);
}

header {
  width: 100vw;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ece8e9;
  padding: 1rem;
}
header #hamburger-menu {
  width: 2.2rem;
  color: #a5247a;
  display: block;
  cursor: pointer;
}
header #hamburger-menu:hover {
  filter: drop-shadow(2px 2px 11px #ec008c);
}
header img {
  display: block;
  width: 4rem;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: center;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  display: none;
}
nav ul li {
  margin-right: 0.9rem;
}
nav ul a {
  text-decoration: none;
  color: #555;
  font-size: 1.2rem;
}
nav ul a:hover {
  color: #a5247a;
  transition: all 0.3s;
}

#trabord, .hamberger-menu a {
  display: block;
  padding: 0.5rem 0.4rem;
  background-color: rgb(198, 235, 130);
  text-decoration: none;
  color: #555;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  display: none;
}
#trabord:hover, .hamberger-menu a:hover {
  background-color: rgb(206, 243, 137);
  color: #ec008c;
  transition: all 0.3s;
}

.hamberger-menu {
  width: 50vw;
  height: 100vh;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}
.hamberger-menu img {
  cursor: pointer;
}
.hamberger-menu ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 1px solid rgb(173, 173, 173);
}
.hamberger-menu ul svg {
  width: 10011px;
}
.hamberger-menu li {
  margin-top: 0.6rem;
  border-bottom: 1px solid rgb(231, 231, 231);
  font-size: 0.8rem;
  color: #555;
  display: flex;
  justify-content: space-between;
}
.hamberger-menu li svg {
  width: 1rem;
}
.hamberger-menu li:hover {
  color: #a5247a;
  cursor: pointer;
  transition: all 0.3s;
}
.hamberger-menu a {
  display: block;
  margin: 1rem auto;
  text-align: center;
  padding: 0.4rem 4rem;
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  .top-header {
    height: 3rem;
  }
  .top-header div:first-child a {
    font-size: 0.9rem;
  }
  .top-header div:last-child a {
    font-size: 1rem;
  }
  header {
    flex-direction: row-reverse;
    height: 4rem;
  }
  header div:first-child #hamburger-menu {
    display: none;
  }
  header #trabord, header .hamberger-menu a, .hamberger-menu header a {
    display: block;
  }
  nav img {
    width: 5rem;
  }
  nav ul {
    display: flex;
  }
  nav ul a {
    font-size: 0.9rem;
  }
}
@media (min-width: 968px) {
  .top-header {
    justify-content: space-around;
  }
  #trabord, .hamberger-menu a {
    margin-left: 9rem;
  }
  nav img {
    width: 5rem;
    margin-left: 6rem;
  }
  nav a {
    font-size: 0.93rem;
  }
}

/*# sourceMappingURL=style.css.map */
