@font-face {
  font-family: iranyekanwebmedium;
  src: url(../../font/iranyekanwebmedium.woff);
}
@font-face {
  font-family: YekanBakhHeavy;
  src: url(../../font/YekanBakhHeavy.woff);
}
@font-face {
  font-family: iranyekanwebregular;
  src: url(../../font/iranyekanwebregular.woff);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.09s;
}

body {
  font-family: YekanBakhHeavy;
  position: relative;
}

.top-header {
  width: 100vw;
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 1rem;
  background: linear-gradient(-45deg, #a5247a, #ec008c, #a5247a);
}
.top-header div:first-child a {
  text-decoration: none;
  color: #fff;
  padding: 0.2rem 0.3rem 0.2rem 0.3rem;
  cursor: pointer;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: inline-block;
  font-size: 0.76rem;
}
.top-header div:first-child a:first-child {
  color: #444;
  background-color: #ece8e9;
}
.top-header div:last-child {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: auto 0;
}
.top-header div:last-child svg {
  width: 2.2rem;
  color: #fff;
  padding-left: 0.5rem;
  cursor: pointer;
}
.top-header div:last-child a {
  text-decoration: none;
  padding-right: 0.5rem;
  color: #fff;
  font-size: 1rem;
  border-right: 1px solid rgb(216, 192, 221);
}

header {
  width: 100vw;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ece8e9;
  padding: 1rem;
  position: sticky;
  top: 0;
}
header #hamburger-menu {
  width: 2.2rem;
  color: #a5247a;
  display: block;
  cursor: pointer;
}
header #hamburger-menu:hover {
  filter: drop-shadow(2px 2px 2px #a5247a);
  width: 2.3rem;
  transition: all 0.3s;
}
header img {
  display: block;
  width: 4rem;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: center;
  position: relative;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  display: none;
}
nav ul li {
  margin-right: 0.9rem;
}
nav ul a {
  text-decoration: none;
  color: #555;
  font-size: 1.2rem;
  display: block;
}
nav ul a:hover {
  color: #a5247a;
  transition: all 0.3s;
}

#trabord, .hamburger-list a {
  display: block;
  padding: 0.5rem 0.4rem;
  background-color: rgb(198, 235, 130);
  text-decoration: none;
  color: #555;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  display: none;
}
#trabord:hover, .hamburger-list a:hover {
  background-color: rgb(206, 243, 137);
  color: #ec008c;
  transition: all 0.3s;
}

.absolute-nav {
  position: absolute;
  top: 3.3rem;
  left: 0;
  right: 0;
  width: 90vw;
  background-color: #f6f6f6;
  justify-content: flex-start;
  font-size: 0.9rem;
  color: #555;
  padding: 0.9rem;
  transform: translateY(-100%);
  opacity: 0;
  z-index: -1;
}
.absolute-nav li {
  margin-right: 2.5rem;
  cursor: pointer;
}
.absolute-nav li:hover {
  color: #a5247a;
  transition: all 0.3s;
}

.absolute-nav-show {
  animation: Show-nav 0.7s forwards;
}
@keyframes Show-nav {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hamburger-list {
  width: 50vw;
  height: 100vh;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  transform: translateX(100%);
  filter: brightness(100%);
}
.hamburger-list img {
  cursor: pointer;
  width: 6.2rem;
}
.hamburger-list ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 1px solid rgb(173, 173, 173);
}
.hamburger-list li {
  margin-top: 0.6rem;
  border-bottom: 1px solid rgb(231, 231, 231);
  font-size: 0.8rem;
  color: #555;
  display: flex;
  justify-content: space-between;
}
.hamburger-list li svg {
  width: 1rem;
}
.hamburger-list li:hover {
  color: #a5247a;
  cursor: pointer;
  transition: all 0.3s;
}
.hamburger-list a {
  display: block;
  margin: 1rem auto;
  text-align: center;
  padding: 0.4rem 4rem;
  font-size: 0.8rem;
}
.hamburger-list .absolute-rightel {
  background-color: #f7f4f4;
  display: none;
}
.hamburger-list .absolute-rightel li {
  border-bottom: 1px solid rgb(216, 213, 213);
  font-size: 0.77rem;
}
.hamburger-list .off-on-absolute-rightel {
  display: flex;
}

#hamburger-menu {
  z-index: 101;
}

#hamburger-show {
  animation: Show 0.5s forwards;
}
@keyframes Show {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

#hamburger-unshow {
  animation: Show2 0.5s forwards;
}
@keyframes Show2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.cros-show {
  animation: Show3 0.6s forwards;
}
@keyframes Show3 {
  0% {
    transform: translateX(0);
    color: #a5247a;
  }
  100% {
    transform: translateX(-50vw);
    color: #555;
  }
}

.cros-ushow {
  animation: Show4 0.6s forwards;
}
@keyframes Show4 {
  0% {
    transform: translateX(-50vw);
    color: #555;
  }
  100% {
    transform: translateX(0);
    color: #a5247a;
  }
}

.use-dark {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(6, 0, 7, 0.555);
  display: none;
}

@media (min-width: 768px) {
  .top-header {
    height: 3rem;
  }
  .top-header div:first-child a {
    font-size: 0.9rem;
  }
  .top-header div:last-child a {
    font-size: 1rem;
  }
  header {
    flex-direction: row-reverse;
    height: 4rem;
  }
  header div:first-child #hamburger-menu {
    display: none;
  }
  header #trabord, header .hamburger-list a, .hamburger-list header a {
    display: block;
  }
  nav img {
    width: 5rem;
  }
  nav ul {
    display: flex;
  }
  nav ul a {
    font-size: 0.9rem;
  }
}
@media (min-width: 968px) {
  .top-header {
    justify-content: space-around;
  }
  #trabord, .hamburger-list a {
    margin-left: 9rem;
  }
  nav img {
    width: 5rem;
    margin-left: 6rem;
  }
  nav a {
    font-size: 0.93rem;
  }
}

/*# sourceMappingURL=style.css.map */
